@-webkit-keyframes 'fade-in' {
      0% {opacity: 0;} 
      40% {opacity: 0;}
      100% {opacity: 1;}
}


@-webkit-keyframes 'scrollTop' {
     0% {
        transform: translateY(0);
     } 

     40% {
        transform: translateY(0);
     } 

    100%{
        transform: translateY(px2rem(-100));
    }
}